*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea/caches/deviceStreaming.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/compiler.xml
/.idea/deploymentTargetSelector.xml
/.idea/migrations.xml
/.idea/modules.xml
/.idea/runConfigurations.xml
